.container{
    height: 80%;
    width: 100%;
    padding: 3%;
    position: relative;
    top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    width: 100%;
    text-align: center;
    font-size: 2rem;
}

.uploads{
    overflow-y: auto;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%
}

.uploaditem{
    width: 80%;
    margin-top: 2%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #CEF4F6;
    border-radius: 10px;
}