.cardContainer{
    height: 100%;
    width: 23%;
    background-color: #FFFFFF;
    border-radius: 15px;
    box-shadow: 4px 5px 4px 5px #4D4B4C;
    display: flex;
    flex-direction: column;
    padding: 3%;
    justify-content: space-between;
}